<div class="ui raised very padded text container segment center aligned" id="Home">
<h1 class="ui header">Git Me a Job</h1>
<h2>Reason for Project</h2>
<p>You know those times when you're tired of your old job and looking for a greater opportunity and showcase what you can do? Well, this is my solution. To create a platform for just that occasion! This project not only helps those who are looking for developer jobs (using the GitHub API), but shows future employers the possibilites of what I can create. I hope you enjoy this app, and have a nice day.</p>
</div>
